/* *{
    border: solid red;
} */

/* body{
    display: flex;
    flex-flow: column wrap;
} */


h1 {
    font-size: 250%;
    font-weight: bold;
    margin: 2%;
    color: var(--tertiary);
    background-color: var(--secondary);
}

aside {
    flex-basis: 20%;
}

h2 {
    height: 10%;
    border-right: var(--primary);
    margin: 20px;
    font-size: 250%;
    color: var(--primary);
    display: flex;
    justify-content: flex-end;
}

img {
    height: 30vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    
}

q {
    font-size: 30px;
    color: var(--tertiary);
    background-color: var(--secondary);
    position: absolute;
    top: 35%;
    right: 50px;
}

p {
    height: 15vh;
    padding-left: 5px;
    padding-right: 5px;
    flex-basis: 80%;
    color: var(--tertiary);
    font-style: bold;
    display: flex;
    align-items: center;
    border-left: solid var(--primary);
    margin-bottom: 2%;
}

:root {
    --primary: #9f60e7;
    --secondary: #F2C53A;
    --tertiary: #171817;
}

.header {
    width: 100vw;
    color: var(--secondary);
    background-color: var(--tertiary);
    display: flex;
    align-items: center;
}

.nav-1 {
    margin: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#top-nav {
    font-size: 20px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: underline var(--secondary);
}

.about-me {
    width: 100vw;
    display: flex;
    margin-bottom: 10px;
}

.work {
    height: 100%;
    width: 100vw;
    display: flex;
}

.work-2 {
    flex-basis: 80%;
    margin-bottom: 30px;
    border-left: solid var(--primary);
    display: flex;
    flex-wrap: wrap;
}

.work-3 {
    flex-basis: 95%;
    height: 400px;
    width: 100%;
    background-image: url(./01-html-css-git-homework-demo.png);
    background-size: 100%;
    border: solid thick var(--secondary);
    margin: 1%;
    display: flex;
    align-items: flex-end;
    opacity: .6;
}

.work-3:hover {
    opacity: 1;
}

.work-label {
    height: 6%;
    width: 120px;
    font-size: 20px;
    color: var(--tertiary);
    background-color: var(--secondary);
    text-align: center;
}

.work-4 {
    height: 250px;
    border: solid thick var(--secondary);
    margin: 1%;
    flex-basis: 46%;
    display: flex;
    align-items: flex-end;
    opacity: .6;
}

.work-4:hover {
    opacity: 1;
}

#node {
    background-image: url(./photo-1470240731273-7821a6eeb6bd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#rjs {
    background-image: url(./photo-1542213493895-edf5b94f5a96.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#ms {
    background-image: url(./photo-1507371341162-763b5e419408.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#hc {
    background-image: url(./photo-1491002052546-bf38f186af56.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.work-img {
    height: 90%;
    width: 100%;
    object-fit: fill;
}

.contact-me {
    height: 20%;
    width: 100vw;
    display: flex;
}

#links {
    flex-basis: 80%;
}

#bottom-nav {
    font-size: 20px;
    height: 15vh;
    flex-basis: 80%;
    border-left: solid var(--primary);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: underline var(--primary);
}